<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching game</title>
</head>

<body>
    <h2>Matching Game</h2>

    <div id="game"></div>

    <iframe style="max-width:100%" src="https://wordwall.net/embed/b28bfff7bcfd42c6a613b5af69f8ebce?themeId=1&templateId=38&fontStackId=0" width="500" height="380" frameborder="0" allowfullscreen></iframe>

    <script>
        const gameData = __GAME_DATA__;
    </script>

    <script src="/templates/matching/engine.js"></script>

</body>

</html>